
# ENVIRONMENT
*.env
.env.*
.env

# PYTHON / DJANGO
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.sqlite3
*.db
*.log
*.pot

# VENV
venv/
env/

# SYSTEMD & LOG FILES
*.service
*.log

# CERTIFICATES / SECURITY
*.pem
*.crt
*.key
*.csr
*.pub
/etc/letsencrypt/
/etc/fail2ban/
/var/log/fail2ban.log

# SSH
*.pub
*.pem
.ssh/

# DATABASE BACKUPS
*.sql
*.bak
*.dump

# BUT keep useful versioned SQL files
!schema.sql
!seed_and_update.sql
!fundu_full.sql

# OS / MISC
.DS_Store
Thumbs.db

# FRONTEND
frontendV2/node_modules/
frontendV2/.expo/

# LOCAL FILES TO IGNORE
project_structure.txt

!package.json
!package-lock.json
